footer {
    width: 100%;
    background: var(--primary-purple);
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.6rem;

    span {
        display: inline-block;
        width: 30px;
    }

    h2 {
        font-size: 2.2rem;
    }

    a {
        text-decoration: underline;
    }

    p, a {
        font-size: 1.5625rem;
    }
}