* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    font-family: sans-serif;
    color: #fff;
    background: var(--secondary-blue-three);
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

header.scroll {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 .5rem 2rem 0 rgba(35, 38, 135, 0.10);
    backdrop-filter: blur(1.25rem);
}

.header.scroll .nav-link {
    color: #fff;
}

section  a {
    &:hover {
        text-decoration: underline;
    }
}